DATABASE_URL=postgresql+psycopg2://postgres:123456@localhost:5432/bctt
SECRET_KEY=supersecretkey
ALGORITHM = "HS256"
ACCESS_TOKEN_EXPIRE_MINUTES = 30
REFRESH_TOKEN_EXPIRE_DAYS = 7
JWT_SECRET_KEY = supersecretkeyjwt
GEMINI_API_KEY = AIzaSyCgQNiRaXRerW3cfbzcR9OPDfSS8fwWKSA

REDIS_HOST = localhost
REDIS_PORT = 6379
REDIS_DB = 0

CORS_ORIGINS=http://localhost:3000,http://localhost:8000,http://127.0.0.1:5500,http://localhost:5173

GOOGLE_DRIVE_ENABLED=true
GOOGLE_SERVICE_ACCOUNT_JSON=secrets/service-account-key.json
GOOGLE_DRIVE_ROOT_FOLDER_ID=1gMmxX_b4jMMLg1VQ5JIN7aV1who-KPvX